@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered table table-striped">
    <tr>
        <th>Açıklama</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Description</td>
                <td><a class="btn btn-warning" asp-action="Update" asp-route-id="@item.AboutId">Güncelle</a></td>
            </tr>
        }

    </tbody>
   
</table>

<br />
<a class="btn btn-primary" asp-action="Create">Ekle</a>