@model List<AppRole>

@{
    ViewData["Title"] = "DeleteRoles";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered table table-striped">
    <tr>
        <th>Rol Adı</th>
        <th>Rol Aktif Yap</th>
        <th>Rol Güncelle</th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td><a class="btn btn-success" asp-action="RoleActiveAdd" asp-route-id="@item.Id">Aktif Yap</a></td>
               
            </tr>
        }
    </tbody>
</table>

