@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">

                        <h2>Hakkımızda!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Banner Ends Here -->


<section class="about-us">
    <div class="container">

        <div class="row">
            @foreach (var item in Model)
            {


                <div class="col-lg-12">
                    <img src="~/Blogtema/assets/images/about-us.jpg" alt="">
                    <p> @item.Description<br><br></p>
                </div>
            }
        </div>






    </div>
</section>



